ion-header {
  position: fixed;
  ion-toolbar {
    --background: #24eb8600;
    .header-align {
      padding-top: 1rem;
      display: flex;
      ion-back-button {
        --color: whitesmoke !important;
      }
      .page-title {
        line-height: 3;
        font-size: 18px;
        color: white;
        font-weight: 600;
      }
    }
  }
}
.card-content {
  padding: 0 1rem 0 1rem;
  position: absolute;
  width: 100%;
  z-index: 999;
  background: white;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  top: 22rem;
}
.tag {
  display: flex;
  padding-top: 1rem;
  .verified {
    color: #3f51b5;
    padding-right: 0.5rem;
    font-size: 12px;
    ion-icon {
      color: #3f51b5 !important;
      padding-right: 0.2rem;
    }
  }
  .premium {
    color: #9c27b0;
    font-size: 12px;
    ion-icon {
      color: #9c27b0;
      padding-right: 0.2rem;
    }
  }
}
h3 {
  margin-top: 10px;
  text-align: left;
  font-weight: 600;
  margin-bottom: 16px;
}

.p {
  font-size: 16px;
  text-align: left;
  margin-top: -6px;
}

ion-progress-bar::part(track) {
  background: #f5f2de;
}

ion-progress-bar::part(progress) {
  background: #09c567;
}

ion-progress-bar::part(stream) {
  background-image: radial-gradient(
    ellipse at center,
    #e475f3 0%,
    #e475f3 30%,
    transparent 30%
  );
}
.matchScore {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}
.chips {
  display: inline-flex;
  padding-top: 1.5rem;
  ion-chip {
    --background: #00213f;
    --color: #adefd1;
  }
}

.sub-header {
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  font-size: 19px;
  font-weight: bold;
  font-style: normal;
}

.details {
  display: flex;
  padding-bottom: 1.5rem;
  ion-icon {
    font-size: 20px !important;
  }
  .detail-text {
    padding-left: 0.8rem;
  }
}

ion-content {
  --background: #f8f8f8;
}

.profile-content {
  background: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  border-radius: 0 0 2px 2px;
}

.profile-card {
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0px 4px 0 rgb(0 0 0 / 10%);
  background: #f8f8f8;
  width: 100%;

  img {
    width: 100%;
    max-height: 100%;
    object-fit: fill;
    object-position: center;
    display: block;
  }
}

ion-buttons {
  position: relative;
}
