/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


@import "swiper/scss";
@import "swiper/scss/navigation";
@import "swiper/scss/pagination";
@import 'swiper/scss/autoplay';


.swiper {
    width: 100%;
    position: fixed;
    height: 390px;
  }

  
  .swiper-slide {
    text-align: center;
    font-size: 1.1rem;
    background: #fff;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
 
 .swiper .swiper-wrapper {
    height: auto;
  }
  
    .swiper-slide img {
      object-fit: fill;
    }
    .swiper-slide {
      background: #f8f8f8;
    }
  

.profile-detail-page {
    .swiper-pagination-bullet {
      background: rgb(255, 255, 255) !important;
      max-width: 6px;
      max-height: 6px;
    }
  }
  
  .profile-detail-page {
  
    .swiper-slide {
      background: #F8F8F8;
    }
  
    .swiper-pagination {
      position: absolute;
      bottom: 60px;
      text-align: center;
    }
  }
  